.cpcache
.nrepl-port
.lsp/.cache
.clj-kondo/.cache
.clj-kondo/babashka
.clj-kondo/rewrite-clj
target
.terraform
terraform.tfstate
terraform.tfstate.backup
out
terraform/reader-url.txt
terraform/writer-url.txt
terraform/reader-lambda-name.txt
terraform/writer-lambda-name.txt